<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tourmate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddTaskPlanActivity"
            android:theme="@style/NoActionBar"></activity>
        <activity android:name=".TaskPlanActivity"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MyWeatherActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AddExpenseActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".WalletActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AddTripContactActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AddMemoryActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TripMemoryActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TripContactActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TripDetailsActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TripActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".UserActivity" />
        <activity
            android:name=".WelcomeScreen"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTripsActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".NearbyActivity" />
        <activity
            android:name=".LogInActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".VerificationActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>